<h2>Liste des distinctions à commander ou à remettre aux archers</h2>
<p-table [value]="distinctionsWithArcher" [paginator]="true" [rows]="50" [rowsPerPageOptions]="[50,100,200]">
    <ng-template #header>
        <tr>
            <th>Archer</th>
            <th>Distinction</th>
            <th>Statut</th>
        </tr>
    </ng-template>
    <ng-template #body let-d>
        <tr>
            <td>{{d.archer.prenom}} {{d.archer.nom}} ({{d.archer.noLicence}})</td>
            <td>{{d.distinction.name}}({{d.distinction.arme}}) : {{d.distinction.score}} le {{d.distinction.date | date:'dd/MM/yyyy'}}</td>
            <td>{{d.distinction.status}}</td>
        </tr>
    </ng-template>
</p-table>
