<h2>Liste des distinctions à commander ou à remettre aux archers</h2>
<p-table [value]="distinctionsWithArcher" [paginator]="true" [rows]="50" [rowsPerPageOptions]="[50,100,200]">
    <ng-template #header>
        <tr>
            <th pSortableColumn="archer.nom">Archer <p-sortIcon field="archer.nom" /></th>
            <th>Distinction</th>
            <th>Statut</th>
        </tr>
    </ng-template>
    <ng-template #body let-d>
        <tr>
            <td>{{d.archer.nom}} {{d.archer.prenom}} ({{d.archer.no_licence}})</td>
            <td>{{d.nom}}({{d.resultat.arme}}) : {{d.resultat.score}} le {{d.resultat.date_debut_concours | date:'dd/MM/yyyy'}}</td>
            <td>{{d.statut}}</td>
        </tr>
    </ng-template>
</p-table>    
